:root {
    --col-bg-primary: #FFFFFF;
    --col-bg-secondary: #fff4ea;
    --col-text-primary: 55, 58, 60; 
    --col-text-secondary: #207871;
    --col-text-secondary-offset: #B56357;
    --col-border: #207871;
    --col-muted: #F4F4F4;
    --col-muted2: #edbbbb;
    --col-code-bg: #003d00;
    --col-code-text: #00ff80;
    --col-bq-text: #555555;
    --col-alert: #B0092D;
}

@media (prefers-color-scheme: dark) {
    :root {
        --col-bg-primary: #373A3C;
        --col-bg-secondary: #2F4F4F;
        --col-text-primary: RGB(255,255,255);
        --col-text-secondary: #3de0d3;
        --col-text-secondary-offset: #e0897b;
        --col-border: #3de0d3;
        --col-muted: #0e0f0f;
        --col-muted2: #133535;
        --col-code-bg: #003d00;
        --col-code-text: #00ff80;
        --col-bq-text: #f8f8ff;
        --col-alert: #FFCCCB;
    }
}

$flextable-row-border-bottom: 	    none;

$flextable-font-family: "Fira Code", Menlo, Monaco, Consolas, "Andale Mono", "Courier New", monospace;
$flextable-font-size: 90%;

@import '../../node_modules/gas-fw/fw/_fw';
@import '../../node_modules/gas-fw/fw/_flextable';

.sitehdr-branding {

    font-family: inherit;

    a span {
        font-family: cursive;
    }

    a, a:link, a:visited, a:hover, a:active {
        border-bottom: none;
        text-decoration: none;    
    }

    img {
        vertical-align: middle;
        margin-right: 0.5em;
        max-width: 60px;
    }
}

.error {
    color: red;
}

#onermResults {
    max-width: 500px;

    table {
        border: solid 0.5px;
        border-radius: 0;

        th {
            text-align: right;
        }

        .avg {
            border-top: solid 1px;
            font-weight: bold;
        }
    }

}

#percenttable {
    th.pcol {
        text-align: left;
    }
}

.notes {
    font-size: 80%;
}

.results {
    margin: 0 auto;
}
